<h3>{{title}}</h3>
<p-table [columns]="cols" [value]="list" [responsive]="true">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
            <th width="50">&nbsp;</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <!-- <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
            </td> -->
            <td *ngFor="let col of columns">
                <div *ngIf="col.subfield;then nested_object_content else normal_content"></div>
                <ng-template #nested_object_content>
                  {{rowData[col.field][col.subfield]}}
                </ng-template>
                <ng-template #normal_content>
                  {{rowData[col.field]}}
                </ng-template>
             </td>
            <td>
             <button class="btn btn-lg btn-outline-primary" (click)="open(rowData)">{{gridButtonLabel}}</button>
         </td>
        </tr>
    </ng-template>
</p-table>