<span class="glyphicon glyphicon-refresh glyphicon-spin spinner" *ngIf="loading"></span>
<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">{{pageTitle}}</a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" data-toggle="collapse" 
        aria-expanded="false" data-target="#navbarText" aria-controls="navbarText" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/welcome']">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" [routerLink]="['/pazienti']">Pazienti</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item" *ngIf="authService.isLoggedIn()">
          <span class="welcome">Welcome {{ authService.currentUser.userName }}</span>
        </li>
        <li class="nav-item" *ngIf="!authService.isLoggedIn()">
          <a class="nav-link" [routerLink]="['/user/login']">Log In</a>
        </li>
        <li class="nav-item" *ngIf="authService.isLoggedIn()">
          <a class="nav-link" (click)="logOut()">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div>
  <router-outlet></router-outlet>
  <alert class="my-alert-top"></alert>
</div>