<div class='circle-container'>
  <a href='#' class='center'><img src='../../assets/images/woa.png'></a>
  <a href='#' class='deg0'><img src='../../assets/images/sqlite.png'></a>
  <a href='#' class='deg45'><img src='../../assets/images/github.logo.png'></a>
  <a href='#' class='deg90'><img src='../../assets/images/TravisCI.png'></a>
  <a href='#' class='deg135'><img src='../../assets/images/container-registry.png'></a>
  <a href='#' class='deg180'><img src='../../assets/images/heroku.png'></a>
  <a href='#' class='deg225 docker'><img class="docker" src='../../assets/images/docker.png'></a>
  <a href='#' class='deg270'><img src='../../assets/images/angular.png'></a>
  <a href='#' class='deg315'><img src='../../assets/images/dotnetcore.png'></a> 
</div>
