li {
  font-size: large;
}

div.panel-heading {
 font-size: x-large; 
}

li { 
  cursor: pointer; 
}

/* Fade transition */
/*pm-app div {
  animation-duration: .5s;
  opacity: 0;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  transition: transform .5s ease;
}

@keyframes fadeIn {
from {
  opacity: 0;
}

to {
  opacity: 1;
}
}*/

/* Slide transition */
pm-app div.panel.panel-primary {
  animation-duration: .5s;
  animation-name: slideIn;
  animation-fill-mode: forwards;
  transition: transform .5s ease;
}

@keyframes slideIn {
from {
  transform: translate(-200px);
}

to {
  transform: translate(0px);
}
}

/* Spinner */
.spinner {
font-size:300%;
position:absolute;
top: 50%;
left: 50%;
z-index:10
}

.glyphicon-spin {
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
  }
}


.my-alert-top{
  position: fixed;
  top: 5px; 
  right:2%;
  width: 20%;
}

.plus-bottom-right{
  position: fixed;
  bottom: 10%; 
  right:2%;
  z-index: 999;
}

a.fa-cnt{
  list-style: none;
  color: purple;
  background-color: purple;
  float: right;
  margin: 10px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border: 3px solid white;
  border-radius: 50%;
  font-size: 30px;
  position: relative;
  transition: background-color 1000ms, color 1000ms;
}

a.fa-cnt:hover {
  border:solid 3px rgb(153, 66, 124);
  color: blue;
  cursor: pointer;
  background-color: rgb(153, 66, 124);
  transition: background-color 1000ms, color 1000ms; 
}

a.fa-cnt i.fas{
  color: white;
}